{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.10.0"}, {jiffy, "1.1.1"}]}.

{project_plugins, [erlfmt]}.
{erlfmt, [write]}.

{shell, [
    {apps, [erland]}
]}.

{relx, [
    {release, {erland, "1.0.0-alpha"}, [erland]},
    {dev_mode, true},
    {include_erts, false}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false}
        ]}
    ]}
]}.
